@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Sacramento&display=swap");

body {
  text-align: center;
  font-family: "Merriweather", serif;
  margin: 0;
}

h1 {
  width: 50%;
  margin: 0 auto 0 auto;
  font-family: "Sacramento", cursive;
  font-size: 4rem;
  padding-bottom: none;
  color: #66bfbf;
  line-height: 2;
}

h2 {
  font-family: "Montserrat", sans-serif;
  color: #66bfbf;
  font-size: 2rem;
  padding-top: 10px;
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: #11999e;
  font-size: 1.5rem;
}

a {
  color: #11999e;
  padding-left: 20px;
}

hr {
  border: none;
  border-top: 8px dotted rgb(163, 163, 163);
  width: 5%;
}

.top-container {
  background-color: #eafdfc;
  position: relative;
  padding-top: 150px;
}

.mountain {
  width: 100%;
}

.cloud1 {
  position: absolute;
  top: 5px;
  right: 20px;
  width: auto;
  height: auto;
}

.cloud2 {
  position: absolute;
  bottom: 500px;
  left: 30px;
  width: auto;
  height: auto;
}

.middle-container {
  margin: auto;
}

.profile {
  margin: 80px 10% 50px;
  line-height: 2;

}

.profile-photo {
  width: 20%;
}

.about-section {
  padding-left: 10%;
  padding-right:10%;
}

.skill-row1 {
  margin-bottom: 100px;
  width: 50%;
  margin: 50px auto 50px auto;
  text-align: left;
  line-height: 2;
}

.skill-row2 {
  margin-bottom: 100px;
  width: 50%;
  margin: 50px auto 50px auto;
  text-align: left;
  line-height: 2;
}

.skill-1 {
  width: 25%;
  float: left;
  margin: 0 30px 50px 0;
  padding-top: 20px;
}

.skill-2 {
  width: 25%;
  float: right;
  margin: 0 0 50 30px;
  padding-top: 20px;
}

.bottom-container {
  background-color: #B6C9E3;
  margin-top: 50px;
  padding-bottom: 100px;
  padding-top: 100px;
}

.get-in-touch{
  /* background-color: #B6C9E3; */
  margin-top: 50px;
}

.btn {
  color: white;
  background-color: #66bfbf;
  padding: 5px;
}
