@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Montserrat:wght@400&family=Sacramento&display=swap");
 

body {
            text-align: center;
            font-family: "Merriweather", serif;
            margin: 0;
            font-weight: 400; 
}

h1, h2, h3 {
    color: #FFFFFF; 
}

        }

        nav {
            padding: 10px;
            background-color: #11999e;
            color: white;
        }

        .top-container {
            background-color: #eafdfc;
            position: relative;
            padding-top: 100px;
        }

        h1 {
            width: 50%;
            margin: 0 auto 0 auto;
            font-family: "Sacramento", cursive;
            font-size: 4rem;
            padding-bottom: none;
            color: #66bfbf;
            line-height: 2;
        }

        h2 {
            font-family: "Montserrat", sans-serif;
            color: #66bfbf;
            font-size: 2rem;
            padding-top: 10px;
        }

        h3 {
            font-family: "Montserrat", sans-serif;
            color: #11999e;
            font-size: 1.5rem;
        }

        a {
            color: #11999e;
            padding-left: 20px;
        }

        hr {
            border: none;
            border-top: 8px dotted rgb(163, 163, 163);
            width: 5%;
        }

        .mountain {
            width: 100%;
        }

        .cloud1 {
            position: absolute;
            top: 5px;
            right: 20px;
            width: auto;
            height: auto;
        }

        .cloud2 {
            position: absolute;
            bottom: 500px;
            left: 30px;
            width: auto;
            height: auto;
        }

        .middle-container {
            margin: auto;
        }

        .profile {
            margin: 80px 10% 50px;
            line-height: 2;
        }

        .profile-photo {
            width: 20%;
        }

        .about-section {
            padding-left: 10%;
            padding-right: 10%;
        }

        /* Section 2: Projects */
        .projects-section {
            background-color: #eafdfc;
            padding: 50px 10%;
        }

      .projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(48%, 1fr)); /* Adjusted to show 2 cards per row */
    gap: 50px;
    justify-content: center;
}


        .project-card {
            background-color: #fff;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
            text-align: center;
        }

        .project-card img {
            max-width: 100%;
            height: auto;
            border-radius: 8px;
        }

        .project-title {
            margin-top: 10px;
        }

        .bottom-container {
            background-color: #B6C9E3;
            margin-top: 50px;
            padding-bottom: 100px;
            padding-top: 100px;
        }

        .get-in-touch {
            /* background-color: #B6C9E3; */
            margin-top: 50px;
        }

        .btn {
            color: white;
            background-color: #66bfbf;
            padding: 5px;
        }
